<div class='login'>
 <div class="container">
  <form class="login-form">
   <h1 class="login">Login</h1>
   <div>
    <label class='username'for="username-login">Username:</label>
    <input type="text" id="username-login" />
   </div>
   <div>
    <label class='password'for="password-login">Password:</label>
    <input type="password" id="password-login" />
   </div>
   <div>
    <button type="submit">Login</button>
  </div>
  </form>

 <form class="signup-form">
  <h1 class="signup">New User</h1>
  <div>
    <label class='username'for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>  
  <div>
    <label class='password'for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
 </form>
 </div>
</div>


<script src="./js/login.js"></script>
 
 